.table {
  width: 65vw;
  border-collapse: collapse;
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  table-layout: fixed;
  td,
  th {
    padding: 10px;
  }
  tr:nth-child(even) {
    background-color: var(--light-color);
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--dark-color);
    color: var(--background-color);
  }
  .delete-column {
    text-align: right;
  }
  .delete:hover {
    background-color: var(--delete);
  }
}
